version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: ashok
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql
    networks:
      - ashok-nw

  springboot:
    build: .
    container_name: springboot-app
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    networks:
      - ashok-nw

volumes:
  mysqldata:

networks:
  ashok-nw:
    driver: bridge
